<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/21/21.css">
</head>
<body>
<header id="title">
  <h3 id="tribute-info">Tribute Page | freeCodeCamp.org<br>
  Responsive Web Design Project<br>
  by Firdavs Gafurjonov</h3>
  <h1>CHEKHOV</h1>
  <h2>Russian Playwright And Short-Story Writer</h2>
</header>

<main id="main">
  <section class="images">
    <div id="img-div" class="img-1">
      <img id="image" src="https://media.gettyimages.com/photos/tschechow-anton-2901186015071904-schriftsteller-russland-halbportrait-picture-id541789205?s=2048x2048"/>
    </div>
    <div id="img-div" class="img-2">
      <img id="image" src=" https://media.gettyimages.com/photos/anton-chekhov-in-his-study-in-yalta-18951900-found-in-the-collection-picture-id600058295?s=2048x2048">
    </div>
    <div id="img-div" class="img-3">
      <img id="image" src="https://media.gettyimages.com/photos/anton-chekhov-studying-book-with-actors-of-the-moscow-state-art-in-picture-id171086002?s=2048x2048"/>
    </div>
    <div id="img-div" class="img-4">
      <img id="image" src="https://media.gettyimages.com/photos/anton-pavlovich-chekhov-2901186015071904-writer-dramatist-russia-picture-id541537841?s=2048x2048"/>
    </div>
   <div id="img-div" class="quote">
    <q id="img-caption">Knowledge is of no value unless you put it into practice.</q>
  </div>
  </section> 
  <article>
    <p>Anton Pavlovich Chekhov was a Russian playwright and short-story writer who is considered to be among the greatest writers of short fiction in history. His career as a playwright produced four classics, and his best short stories are held in high esteem by writers and critics. <a href="https://en.wikipedia.org/wiki/Anton_Chekhov" target="_blank">Read more...</a></p>
  </article>
</main>



<!-- Resources1× 0.5× 0.25×Rerun -->
</body>
</html>