<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/27/27.css">
</head>
<body>
    <div class="container">
        <h1>Just some of my friends.</h1>
        <ul class="cards">
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/1.png" alt="Avatar for user 1">
            <div class="info">
              <span>Name: Susan</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/2.jpg" alt="Pug">
            <div class="info">
              <span>Name: Puggy</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/3.png" alt="Pug">
            <div class="info">
              <span>Name: Gummy</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/5.png" alt="Pug">
            <div class="info">
              <span>Name: Ava</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/6.png" alt="Pug">
            <div class="info">
              <span>Name: Zack</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/7.jpg" alt="Pug">
            <div class="info">
              <span>Name: Dude</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/8.png" alt="Pug">
            <div class="info">
              <span>Name: Kevin</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/9.png" alt="Pug">
            <div class="info">
              <span>Name: Becky</span>
            </div>
          </li>
          <li class="card">
            <img src="https://codepen-chriscoyier-bucket.imgix.net/10.svg" alt="Pug">
            <div class="info">
              <span>Name: Linda</span>
            </div>
          </li>
        </ul>
      </div>
</body>
</html>