
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  body::-webkit-scrollbar {
    width: 0px; 
  }


  /* example 1 */
  
  header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
  
    background-color: #566c2b;
    padding: 12px;
    cursor: pointer;
    /* position: sticky;
    top: 0; */
  }
  
  header .menu li{
    display: inline;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  header .menu li a{
    color: white;
    font-size: 16px;
  }
  
  header .logo{
    /* ya to header ye kar do justify-content: space-between; ya flex auto use kar lo*/
    margin: 0 auto; 
  }
  
  header .logo h2{
    color: white;
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 600;
  }
  
  header .social li{
    display: inline;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  header .social li a i{
    color: white;
    font-size: 16px;
  }
  
  
  .main1{
    display: flex;
  }
  
  aside{
    flex: 0 0 20vw;  
    background-color: #d4c7af;
  }
  aside ul{
    padding-top: 30px;
  }
  aside li{
    width: 90%;
    margin: 18px 10px;
  }
  
  aside li a{
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #927949;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
  
  
  aside .img{
    width: 90%;
  }
  aside img{
    width: 100%;
    height: 300px;
    margin: 0 10px;
  }
  
  article{
    margin-left: 12px;
    margin-bottom: 20px;
  }
  
  article h2{
    margin: 13px 0;
    font-weight: 900;
  }
  
  .service-cotainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .service-box{
    margin: 10px 5px;
    border: 1px solid #eee;
    flex-basis: 32%;
  
    padding: 8px;
  
    display: flex;
    flex-direction: column;
  }
  
  .service-box img{
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .service-box .service-tittle h2{
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  /* important */
  .service-box .button{
    align-self: flex-start;
    margin-top: auto;
  }
  
  .service-box a button{
    padding: 8px 15px;
    cursor: pointer;
    color: white;
    background-color: #249ec6;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
  }
  .service-box a button:hover{
    border: 2px solid gray;
    background: white;
    color: gray;
    transition: 0.5s;
  }
  
  footer{
    background-color:  #566c2b;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  
  
  
  @media screen and (min-width: 741px){
    .service-cotainer{
    justify-content: space-around;
  }
    article p{
      font-size: 18px;
      padding: 5px;
    }
  }
  
  @media screen and (min-width: 741px) and (max-width: 951px){
    aside{
    flex: 0 0 25vw;  
  }
    .service-box{
    flex-basis: 45%;
  }
  }
  
  @media screen and (min-width: 513px) and (max-width: 740px){
     .service-cotainer{
    justify-content: space-around;
  }
    aside{
    flex: 0 0 28vw;  
  }
    .service-box{
    flex-basis: 45%;
  }
  }
  
  
  @media screen and (min-width: 310px) and (max-width: 512px){
    header{
      flex-direction: column;
    }
    .menu , .logo{
      margin-bottom: 10px;
    }
    header{
      gap: 10px; 
    }
    header .menu li{
      display: inline;
    }
    .main1{
      flex-direction: column;
    }
      .service-cotainer{
    justify-content: center;
  }
     .service-box{
    flex-basis: 100%;
  }
    .main article p{
      padding: 10px;
    }
    aside img{
      margin: 0 18px;
      border-radius: 5px;
    }
    .services{
      text-align: center;
    }
  }
  


/* example 2 */

  .image-grally{
    width: 95%;
    margin: 10px;
    display: flex;
    height: 70vh;
  
    border: 2px solid black;
    padding: 10px;
  }
  
  .single-image{
    flex: 2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5ms cubic-bezier(.14,.69,.93,1);
  }
  
  .single-image:hover{
    flex: 65vw;
  }


/* example 3 */
  .navbar{
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
  }
  
  .navbar .left-side img{
    width: 8%;
    height: 8%;
    margin-right: 10px;
  }
  
  
  .navbar .left-side span{
    font-size: 25px;
    font-weight: 900;
  }
  
  
  .right-side ul li{
    margin-right: 40px;
  }
  
  .navbar .right-side ul li{
    display: inline-block;
  }
  
  .navbar .right-side ul li a{
    display: block;
    font-size: 20px;
    color: #0C090A;
    font-weight: 900;
    padding: 10px;
  }
  
  .navbar .right-side ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
  }

  
/* example 4 */

header{
  padding: 15px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #262222;
}

.logo{
  cursor: pointer;
  color: #e4dddd;
  font-size: 22px;
}

nav{
  margin-left: auto;
}

header ul li{
  display: inline-block;
  padding: 0 20px;
}

header ul li a{
  font-size: 16px;
  color: white;
}

header ul li a:hover{
  color: #807981;
  transition: 0.5s;
}

header a button{
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-color: #4e99da;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}



/* example 5 */

.nav .left-side img{
  width: 60px;
  height: 60px;
  cursor: pointer;
}


.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b9a58d;
  z-index: -1;
  padding: 0 50px;
}

.nav .middle-side{
  margin-left: auto;
}

.nav .middle-side ul li{
  display: inline-block;
  margin: 0 15px;
  padding: 0 10px;
}

.nav .middle-side ul li a{
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: floralwhite;
}
.nav .middle-side ul li a:hover{
  color: blanchedalmond;
}

.nav .right-side button{
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-color: #4e99da;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
.nav .left-side{
  order: 2;
}
.nav .middle-side{
  order: 1;
}
.nav .right-side{
  order: 1;
  margin-left: auto;
  margin-right: 25px;
}




/* example 6 */
#wrapper{
  margin: 50px;
  /* max-width: 790px; */
  background-color: wheat;
  padding: 20px;
}

#wrapper li{
  margin: 10px;
  padding: 10px;

  display: flex;
  justify-content: flex-end;
}

#wrapper li label{
  flex: 1;
}

#wrapper li input{
  /* flex: 5; */
}

#wrapper li button{
  padding: 5px 35px;
  outline: none;
  /* border: none; */
}


/* media query */

@media screen and (min-width: 300px) and (max-width: 499px){
  #wrapper li{
    flex-direction: column;
  }
   #wrapper li label{
    margin-bottom: 5px;
  }
   #wrapper li input{
    padding: 5px;
  }
  
  #wrapper li input{
  flex: 3;
}
}

@media screen and (min-width: 500px){
  #wrapper li input{
  flex: 3;
}
}

@media screen and (min-width: 768px){
  #wrapper li input{
  flex: 4;
}
}

@media screen and (min-width: 992px){
  #wrapper li input{
  flex: 6;
}
}

@media screen and (min-width: 1200px){
  #wrapper li input{
  flex: 8;
}
}



/* example 7 */
.center{
  width: 410px;
  height: 410px;
  border: 2px solid black;
  margin: 10px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center .center-item{
  width: 160px;
  height: 160px;
  border: 1px solid red;
}


/* example 8 */
.box{
  display: flex;
  gap: 15px;
  margin: 10px auto;
  max-width: 900px;
}

.card{
  flex: 1 1 50%;
  border: 1px solid rgb(24, 23, 23);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.card p {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

.card .footer{
  width: 100%;
  padding: 10px;
  margin: 20 auto;
  background-color: blue;
  color: white;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 1.5px;

  align-self: flex-start;
  margin-top: auto;

  /* flex: 1 1 auto; */
}


/* example  9*/
.box-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 65%;
  gap: 8px;
  margin: 20px auto;
}

.single-card{
  flex: 1 1 20%;
  height: auto;
  padding: 10px;
  transition: .5s;
  border: 1px solid rgb(48, 46, 46);
  border-radius: 5px;
}

.single-card .img{
  width: 120px;
  height: 120px;
  margin: 20px auto;

  border: 6px solid rgb(214, 196, 196);
  border-radius: 50%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.single-card:nth-child(1) .img{
  background-image: url("/Layout/Image/ben-kolde-0Ussqg7kkQo-unsplash.jpg");
}

.single-card:nth-child(2) .img{
  background-image: url("/Layout/Image/christopher-gower-m_HRfLhgABo-unsplash.jpg");
}

.single-card:nth-child(3) .img{
  background-image: url("/Layout/Image/procreator-ux-design-studio-VzJjPuk53sk-unsplash.jpg");
}

.single-card .text-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-content .profile{
  font-size: 22px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}

.text-content .line{
  width: 40px;
  height: 2.5px;
  background-color: rgb(85, 75, 75);
  border: 2px;
  margin: 7px auto;
}

.text-content .prod{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 12px;
  font-family: 'Times New Roman', Times, serif;
}

.text-content p{
  line-height: 30px;
  font-size: 19px;
  margin-bottom: 15px;
}

.single-card:hover{
  background-color: darkorange;
}

.single-card:hover span , .single-card:hover p{
  color: white;
}

/* add */