<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>

    <div class="wrapper">
        <div class="one">One</div>
        <div class="Two">Two</div>
        <div class="Three">Three</div>
        <div class="Four">Four</div>
        <div class="Five">Five</div>
        <div class="Six">Six</div>
      </div>
      
      <div class="wrapper1">
        <div class="one-1">
          <!-- nested grid -->
          <div class="nested">Nested One</div>
          <div class="nested">Nested Two</div>
          <div class="nested">Nested three</div>
        </div>
        <div class="Two-1">Two</div>
        <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <!-- <div class="Six-1">Six</div> -->
        <!-- <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <div class="Six-1">Six</div>
        <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <div class="Six-1">Six</div> -->
      </div>


      <div class="flexbox">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="wrapper2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <!-- auto-fill -->
  <div class="wrapper3">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- auto-fit -->
  <div class="wrapper4">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="wrapper5">
    <div class="box1">One</div>
    <div class="box2">Two</div>
    <div class="box3">
      This block is absolutely positioned. In this example the grid container is
      the containing block and so the absolute positioning offset values are
      calculated in from the outer edges of the area it has been placed into.
    </div>
    <div class="box4">Four</div>
  </div>

  <!-- display: contents -->
  <div class="wrapper6">
    <div class="box box1">
      <div class="nested">a</div>
      <div class="nested">b</div>
      <div class="nested">c</div>
    </div>
    <div class="box box2">Two</div>
    <div class="box box3">Three</div>
    <div class="box box4">Four</div>
    <div class="box box5">Five</div>
  </div>

      <figure class="figure9">
        <div class="img">
          <img style="width: 500px; height: 500px;" src="https://www.quackit.com/pix/stock/css_grid_placement_lines_and_tracks.png">
        </div>
      </figure>

      <!-- grid using line base -->
      <div class="box">
    <div class="wrapper7">
      <div style="border-top: 3px dotted black;"></div>
      <div style="border-top: 3px dotted black;"></div>
      <div style="border-top: 3px dotted black; border-right: 3px dotted black;"></div>
      <div></div>
      <div style="background-color: white;"></div>
      <div style="background-color: white; border-right: 3px dotted black;"></div>
      <div style="background-color: white;"></div>
      <div style="background-color: white;"></div>
      <div style="background-color: white; border-right: 3px dotted black;"></div>
    </div>
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>

  <!-- Positioning items by line number -->
  <div class="wrapper8">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- grid templete area -->
  <div class="wrapper9">
    <div class="header">Header</div>
    <div class="sidebar">Sidebar</div>
    <div class="content">Content</div>
    <div class="footer">Footer</div>
  </div>

</body>
</html>
