<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Layout/grid-example.css">
    <title>Grid example</title>
</head>
<body>
    
    <!-- example -->
  <!-- <ul class="container">
    <li><img src="/CSS/Layout/Image/portrait.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/CSS/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/CSS/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li><img src="/CSS/Layout/Image/portrait.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/CSS/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/CSS/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li><img src="/CSS/Layout/Image/portrait.jpg" alt="placeholder"></li>
    <li><img src="/CSS/Layout/Image/portrait.jpg" alt="placeholder"></li>

  </ul>

  <div class="wrapper">
    <dl>
        <dt>Mammals</dt>
        <dd>Cat</dd>
        <dd>Dog</dd>
        <dd>Mouse</dd>
        
        <dt>Fish</dt>
        <dd>Guppy</dd>

        <dt>Birds</dt>
        <dd>Pied Wagtail</dd>
        <dd>Owl</dd>
    </dl>
  </div> -->
  <div class="container">
    <div class="header">
      <h3>The header</h3>
    </div>
    <div class="nav">
      <ul>
        <li>Nav 1</li>
        <li>Nav 2</li>
        <li>Nav 3</li>
      </ul>
    </div>
    <div class="main">
      <h2>Main article area</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem cum dolorum voluptatem dignissimos reiciendis perferendis, possimus nemo vitae et ducimus, explicabo natus magni modi? At. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor.</p>
    </div>
    <div class="sidebar">
      <h3>Sidebar</h3>
    </div>
    <div class="adv"> 
      <h3>Adertising</h3>
    </div>
    <div class="footer">
      <h3>The footer</h3>
    </div>
  </div>


<ul class="listing">
  <li>
    <h3>Item One</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, est?</p>
    <div class="cta">
      <a href="#">Call to action!</a>
    </div>
  </li>
  <li>
    <h3>Item Two</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, est?</p>
    <div class="cta">
      <a href="#">Call to action!</a>
    </div>
  </li>
  <li>
    <h3>Item Three</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, est?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dignissimos nihil praesentium?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, cumque.</p>
    <div class="cta">
      <a href="#">Call to action!</a>
    </div>
  </li>
  <li>
    <h3>Item Four</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, est?</p>
    <div class="cta">
      <a href="#">Call to action!</a>
    </div>
  </li>
  <li><h3>Item Five</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, est?</p>
    <div class="cta">
      <a href="#">Call to action!</a>
    </div></li>
</ul>

</body>
</html>