<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid example</title>
    <link rel="stylesheet" href="/Layout/grid-example.css">
</head>
<body>
    
    <!-- example -->
  <ul class="container">
    <li><img src="/Layout/Image/portrait.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li><img src="/Layout/Image/portrait.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li class="landscape"><img src="/Layout/Image/landscape.jpg" alt="placeholder"></li>
    <li><img src="/Layout/Image/portrait.jpg" alt="placeholder"></li>
    <li><img src="/Layout/Image/portrait.jpg" alt="placeholder"></li>

  </ul>

  <div class="wrapper">
    <dl>
        <dt>Mammals</dt>
        <dd>Cat</dd>
        <dd>Dog</dd>
        <dd>Mouse</dd>
        
        <dt>Fish</dt>
        <dd>Guppy</dd>

        <dt>Birds</dt>
        <dd>Pied Wagtail</dd>
        <dd>Owl</dd>
    </dl>
  </div>


</body>
</html>