<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>

    <div class="wrapper">
        <div class="one">One</div>
        <div class="Two">Two</div>
        <div class="Three">Three</div>
        <div class="Four">Four</div>
        <div class="Five">Five</div>
        <div class="Six">Six</div>
      </div>
      
      <div class="wrapper1">
        <div class="one-1">
          <!-- nested grid -->
          <div class="nested">Nested One</div>
          <div class="nested">Nested Two</div>
          <div class="nested">Nested three</div>
        </div>
        <div class="Two-1">Two</div>
        <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <!-- <div class="Six-1">Six</div> -->
        <!-- <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <div class="Six-1">Six</div>
        <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <div class="Six-1">Six</div> -->
      </div>


      <div class="flexbox">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="wrapper2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <!-- auto-fill -->
  <div class="wrapper3">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- auto-fit -->
  <div class="wrapper4">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="wrapper5">
    <div class="box1">One</div>
    <div class="box2">Two</div>
    <div class="box3">
      This block is absolutely positioned. In this example the grid container is
      the containing block and so the absolute positioning offset values are
      calculated in from the outer edges of the area it has been placed into.
    </div>
    <div class="box4">Four</div>
  </div>

  <!-- display: contents -->
  <div class="wrapper6">
    <div class="box box1">
      <div class="nested">a</div>
      <div class="nested">b</div>
      <div class="nested">c</div>
    </div>
    <div class="box box2">Two</div>
    <div class="box box3">Three</div>
    <div class="box box4">Four</div>
    <div class="box box5">Five</div>
  </div>

      <figure class="figure9">
        <div class="img">
          <img style="width: 500px; height: 500px;" src="https://www.quackit.com/pix/stock/css_grid_placement_lines_and_tracks.png">
        </div>
      </figure>

      <!-- grid using line base -->
      <div class="box">
    <div class="wrapper7">
      <div style="border-top: 3px dotted black;"></div>
      <div style="border-top: 3px dotted black;"></div>
      <div style="border-top: 3px dotted black; border-right: 3px dotted black;"></div>
      <div></div>
      <div style="background-color: white;"></div>
      <div style="background-color: white; border-right: 3px dotted black;"></div>
      <div style="background-color: white;"></div>
      <div style="background-color: white;"></div>
      <div style="background-color: white; border-right: 3px dotted black;"></div>
    </div>
    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>

  <!-- Positioning items by line number -->
  <div class="wrapper8">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- grid templete area -->
  <div class="wrapper9">
    <div class="header">Header</div>
    <div class="sidebar">Sidebar</div>
    <div class="content">Content</div>
    <div class="footer">Footer</div>
  </div>

  <!-- Naming lines when defining a grid -->
  <div class="container">
    <div class="item header1">Hearder</div>
    <div class="item menu1">Menu</div>
    <div class="item box1">Box 1</div>
    <div class="item box2">Box 2</div>
    <div class="item sidebar1">Sidebar</div>
    <div class="item content1">Content</div>
    <div class="item footer1">Footer</div>
  </div>

  <!--  Implicit Grid lines from named areas -->
  <div class="container1">
    <div class="item header2">Hearder</div>
    <div class="item sidebar2">Sidebar</div>
    <div class="item content2">Content</div>
    <div class="item footer2">Footer</div>
    <div class="overlay">Overlay</div>
  </div>


  <!-- Multiple lines with the same name with repeat() -->
  <div class="wrapper10">
    <div class="item box3">I am placed from col-start line 1 to col-start 5</div>
    <div class="item box4">I am placed from col-start line 7 spanning 3 lines</div>
  </div>


  <!-- Items with placement properties -->
  <div class="wrapper11">
    <div class="placement">One</div>
    <div class="placement">Two</div>
    <div class="placement">Three</div>
    <div class="placement">Four</div>
    <div class="placement">Five</div>
    <div class="placement">Six</div>
    <div class="placement">Seven</div>
    <div class="placement">Eight</div>
    <div class="placement">Nine</div>
    <div class="placement">Ten</div>
    <div class="placement">Eleven</div>
    <div class="placement">Twelve</div>
  </div>

  <!-- Box alignment -->
  <div class="wrapper13">
    <div class="box-alignment item1">One</div>
    <div class="box-alignment item2">Two</div>
    <div class="box-alignment item3">Three</div>
    <div class="box-alignment item4">Four</div>
  </div>


  <!-- Center an item in the area-->
  <div class="center">
    <div class="box-alignment">Center</div>
  </div>

  <!-- Aligning the grid tracks on the block axis -->
  <div class="wrapper14">
    <div class="placement item1">One</div>
    <div class="placement item2">Two</div>
    <div class="placement item3">Three</div>
    <div class="placement item4">Four</div>
  </div>

  <!-- subgrid -->
  <div class="grid">
    <div class="item1">
      <div class="subitem"></div>
      <div class="subitem2"></div>
      <div class="subitem3"></div>
      <div class="subitem4"></div>
      <div class="subitem5"></div>
      <div class="subitem6"></div>
      <div class="subitem7"></div>
    </div>
  </div>


  <!-- No implicit grid in a subgridded dimension -->
  <!-- <div class="grid1">
    <div class="item2">
      <div class="subitem1">1</div>
      <div class="subitem1">2</div>
      <div class="subitem1">3</div>
      <div class="subitem1">4</div>
      <div class="subitem1">5</div>
      <div class="subitem1">6</div>
      <div class="subitem1">7</div>
      <div class="subitem1">8</div>
      <div class="subitem1">9</div>
      <div class="subitem1">10</div>
      <div class="subitem1">11</div>
      <div class="subitem1">12</div>
    </div>
  </div> -->

</body>
</html>
