<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>

    <div class="wrapper">
        <div class="one">One</div>
        <div class="Two">Two</div>
        <div class="Three">Three</div>
        <div class="Four">Four</div>
        <div class="Five">Five</div>
        <div class="Six">Six</div>
      </div>
      
      <div class="wrapper1">
        <div class="one-1">
          <!-- nested grid -->
          <!-- <div class="nested">Nested One</div>
          <div class="nested">Nested Two</div>
          <div class="nested">Nested three</div> -->
        </div>
        <div class="Two-1">Two</div>
        <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <!-- <div class="Six-1">Six</div> -->
        <!-- <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <div class="Six-1">Six</div>
        <div class="Three-1">Three</div>
        <div class="Four-1">Four</div>
        <div class="Five-1">Five</div>
        <div class="Six-1">Six</div> -->
      </div>

</body>
</html>
