<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>

    <!-- <div class="wrapper">
        <div class="row">
            <div class="col span1">1</div>
            <div class="col span2">2</div>
            <div class="col span4">4</div>
            <div class="col span5">5</div>
            <div class="col span6">6</div>
        </div>
        <div class="row">
            <div class="col span7">7</div>
            <div class="col span8">8</div>
            <div class="col span9">9</div>
            <div class="col span10">10</div>
        </div>
    </div> -->

    <!--------------------------Noemal flow------------------------------>
    <!-- Example -->
    <!-- <h1>Basic document flow</h1>

    <p>
        I am a basic block level element. My adjacent block level elements sit on new
        lines below me.
    </p>

    <p>
        By default we span 100% of the width of our parent element, and we are as tall
        as our child content. Our total width and height is our content + padding +
        border width/height.
    </p>

    <p>
        We are separated by our margins. Because of margin collapsing, we are
        separated by the width of one of our margins, not both.
    </p>

    <p>
        Inline elements <span>like this one</span> and <span>this one</span> sit on
        the same line along with adjacent text nodes, if there is space on the same
        line. Overflowing inline elements will
        <span>wrap onto a new line if possible (like this one containing text)</span>,
        or just go on to a new line if not, much like this image will do:
    </p> -->


    <!-- Float -->
    <!-- <div class="wrapper">
    <h1>Float Example</h1>

    <div class="box">Float</div>

    <p class="special">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies tellus laoreet sit amet.</p>
    <p class="cleared">Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci vel, viverra egestas ligula. Curabitur vehicula tellus neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus sollicitudin eros pharetra congue. Duis ornare egestas augue ut luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id ornare felis, eget fermentum sapien. </p>
    <p>Nam vulputate diam nec tempor bibendum. Donec luctus augue eget malesuada ultrices. Phasellus turpis est, posuere sit amet dapibus ut, facilisis sed est. Nam id risus quis ante semper consectetur eget aliquam lorem. Vivamus tristique elit dolor, sed pretium metus suscipit vel. Mauris ultricies lectus sed lobortis finibus. Vivamus eu urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt eget purus in interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</div> -->


<!-- Float property example -->
<section class="container">
    <div class="left">1</div>
    <div class="left">2</div>
    <div class="right">3</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sit ratione quos! Quisquam dolorum commodi saepe dicta et earum modi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, aliquid.</p>
</section>

    

</body>

</html>