<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="rwd.css">

    <title>School record system</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="./Image/school-removebg-preview.png" alt="">
        </div>
        <!-- <div class="school-name">
            <span>N</span>
            <span>.</span>
            <span>V</span>
            <span>.</span>
            <span>N</span>
        </div> -->

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Photo</a></li>
            <li><a href="#">Contant us</a></li>
            <li>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Student
                </button>

                <!-- Modal -->
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    Roll number: <input type="number" placeholder="Enter your roll number"> <br><br><br>
                                    Student Name: <input type="text" placeholder="Enter your name"> <br><br><br>
                                    Father Name: <input type="text" placeholder="Enter your father name"> <br><br><br>
                                    Mother Name: <input type="text" placeholder="Enter your mather name"> <br><br><br>
                                    Date of brith: <input type="date" placeholder="Enter your DOB"> <br><br><br>
                                    Your class: <input type="text" placeholder="Enter your class"> <br><br><br>
                                    Your Number: <input type="number" placeholder="Enter your Mobile number">
                                    <br><br><br>

                                    <input type="submit" value="submit" id="btn">
                                    <input type="reset" value="reset">
                                </form>
                            </div>
                        </div>
                    </div> -->

            </li>
        </ul>
        <span><i class="fa-solid fa-bars"></i></span>
    </nav>


    <div class="home">


        <address class="home1">
            <h1 class="heading1">Navjeevan Sr. Sec. School</h1>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reiciendis enim recusandae id
                temporibus nisi vel officia possimus? Ad fugit eaque nemo, qui error quaerat amet commodi facilis earum
                maxime, perspiciatis at tempore accusantium. Placeat voluptatum facilis praesentium commodi quisquam ea
                labore eum, veritatis laudantium cumque quaerat. Nobis ex cupiditate, non atque recusandae
                necessitatibus velit expedita suscipit, nemo adipisci voluptatibus unde deserunt ad magnam assumenda?
                Alias quam consequatur nam magnam aliquid, assumenda maiores quisquam velit autem, at vitae officiis
                doloremque? Soluta, iure fuga. Esse libero quia non deserunt provident minus error, autem accusamus?
                Quis nesciunt, laboriosam perferendis facere aliquam tenetur illum quae id quasi quo necessitatibus
                soluta. Veritatis exercitationem fugiat magni modi facere ipsum amet dolorem veniam dolore, ut
                consequuntur temporibus reprehenderit earum, enim voluptates impedit velit quos? Quibusdam sed adipisci
                iste molestias? Error consectetur quibusdam dolores aperiam nam dicta odio quisquam eaque enim saepe
                consequuntur tempore quam dolor reiciendis ipsum eius nulla deserunt quod assumenda nobis sequi
                cupiditate, asperiores voluptatibus magni! Molestiae, deserunt nam? Adipisci aspernatur dolor veniam
                voluptas quidem, voluptatem non laborum, in mollitia maxime dolorem facere vitae! Ex officiis possimus,
                laudantium expedita eligendi maiores dicta beatae cupiditate ad ea quia, ab, modi libero quasi doloribus
                assumenda neque.
            </p>

            <h1 class="heading1">About school</h1>
            <div class="min-card">
                <div class="card">
                    <img src="./image/aaesthetic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aasesthetic</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe similique
                            et atque. Nobis, blanditiis facilis!</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/cute-school.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Back to back school</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio at iste
                            repellat placeat, est impedit consequatur aliquam voluptatem.</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/navjeevan.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">School playground</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, amet.</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/sunday-school.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Every sunday class</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias
                            atque dicta veritatis, ad eligendi facere. Officia quas quia harum illo hic.</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/aaesthetic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aasesthetic</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe similique
                            et atque. Nobis, blanditiis facilis!</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/cute-school.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Back to back school</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio at iste
                            repellat placeat, est impedit consequatur aliquam voluptatem.</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/aaesthetic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aasesthetic</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe similique
                            et atque. Nobis, blanditiis facilis!</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
                <div class="card">
                    <img src="./image/cute-school.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Back to back school</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio at iste
                            repellat placeat, est impedit consequatur aliquam voluptatem.</p>
                        <div class="button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
                    </div>
                </div>
            </div>
        </address>

    </div>

    <h1 class="heading1">Content Us</h1>
    <div class="contant">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7115.6602298873595!2d75.76939269758115!3d26.908886191384966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db47a4a04ca63%3A0x6324cad90411ae98!2z4KSo4KS14KSc4KWA4KS14KSoIOCkuOClgOCkqOCkv-Ckr-CksCDgpLjgpYfgpJXgpILgpKHgpLDgpYAg4KS14KS_4KSm4KWN4KSv4KS-4KSy4KSv!5e0!3m2!1shi!2sin!4v1663002745956!5m2!1shi!2sin"
                width="800" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
        </div>

        <div class="contantus">
            <form>
                <div class="mb-1">
                    <label for="exampleInputEmail1" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-1">
                    <label for="exampleInputPassword1" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-1">
                    <button type="submit">Submit</button>
                </div>


            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="flex">
            <div class="logo-footer">
                <img src="./Image/school-removebg-preview.png" alt="">
            </div>
            <div class="link">
                <ul>
                    <li><a href="Syllabus.html" target="_blank">Syllbus</a><i class="fa-solid fa-arrow-right"></i></li>
                    <li><a href="Examination.html" target="_blank">Examination</a><i class="fa-solid fa-arrow-right"></i></li>
                    <li><a href="Students.html" target="_blank">Students</a><i class="fa-solid fa-arrow-right"></i></li>
                    <li><a href="Fee-Sturcture.html" target="_blank">Fee Tree</a><i class="fa-solid fa-arrow-right"></i></li>
                </ul>
                <UL>
                    <li><a href="Result.html" target="_blank">Result</a><i class="fa-solid fa-arrow-right"></i></li>
                    <li><a href="Old-result.html" target="_blank">Old result</a><i class="fa-solid fa-arrow-right"></i></li>
                    <li><a href="Teachers.html" target="_blank">Teachers</a><i class="fa-solid fa-arrow-right"></i></li>
                </UL>
            </div>
            <div class="content">
                <div class="phone">
                <span>Phone:</span> <span>+91: 7073251686</span>
            </div>
            <div class="email">
                <span>Email:</span> <span>chandan7073251686@gmail.com</span>
            </div>
            </div>
        </div>
        <p>Copyright navvjeevan sr. sec. school all right in my under</p>
    </footer>

</body>

</html>