<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/32/32.css">
</head>
<body>
    <header class="hero">

        <h1>Women in STEM</h1>
      
        <nav>
          <ul role="list">
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-ellen-ochoa" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/image/nsf_ellenochoa_square.jpg" aria-hidden="true"><span>Ellen Ochoa</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-grace-hopper" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/grace-hopper.jpg" aria-hidden="true"><span>Grace Hopper</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-katherine-johnson" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/katherine-johnson.jpg" aria-hidden="true"><span>Katherine Johnson</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-ada-lovelace" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/ada-lovelace.jpg" aria-hidden="true"><span>Ada Lovelace</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-sally-ride" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/sally-ride.jpg" aria-hidden="true"><span>Sally Ride</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-rosalind-franklin" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/rosalind-franklin.jpg" aria-hidden="true"><span>Rosalind Franklin</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-barbara-mcclintock" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/barbara-mcclintock.jpg" aria-hidden="true"><span>Barbara McClintock</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-mary-engle-pennington" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/image/usda_maryenglepennington_square.jpg" aria-hidden="true"><span>Mary Engle Pennington</span></a></li>
            <li><a href="https://obamawhitehouse.archives.gov/women-in-stem#section-eniac-programmers" target="_blank"><img src="https://obamawhitehouse.archives.gov/sites/default/files/women-in-stem/eniac.png" aria-hidden="true"><span>The ENIAC Programmers</span></a></li>
          </ul>
        </nav>
      
      </header>
      <main>
        <h2>The Untold History of Women in Science and Technology</h2>
        <p>Listen to women from across the Obama Administration tell the stories of their personal heroes across the fields of science, technology, engineering, and math (STEM).</p>
        <a class="button" href="https://obamawhitehouse.archives.gov/women-in-stem" target="_blank">View All Stories</a>
      </main>
</body>
</html>