/* offset */
/* The offset CSS shorthand property sets all the properties required for animating an element along a defined path.

Constituent properties
This property is a shorthand for the following CSS properties:

offset-anchor
offset-distance
offset-path
offset-position
offset-rotate */


/* Syntax: */
        /* offset: auto | 10px 20px  | none;
        offset: ray(45deg, closestr-side) | path('M 100 100 L 300 100 L 200 300 z') | url('arc.svg'); */

        /* Offset path with distance and/or rotation */
        /* offseft: url(circle.svg) 100px | url(circle.svg) 30% | url(circle.svg) 45deg | url(circle.svg) 50px 90deg; */

        /* Including offset anchor */
        /* offset: ray(45deg closest-side) / 40px 20px |  url(arc.svg) 2cm / 0.5cm 3cm; | : url(arc.svg) 30deg / 50px 100px; */




.svg{

    margin: 50px;
    width: 30px;
    height: 30px;
    background-color: hotpink;
    clip-path: polygon(41% 20%, 41% 40%, 100% 40%, 100% 60%, 43% 60%, 42% 85%, 12% 52%);
    transform: rotate(180deg);
    /* offset: path("M 20 60 L 120 60 L 70 10 L 20 60"); */
    /* offset: path("M 20 60 L 120 60 L 70 10 L 20 60"); */
    /* offset: path("M1.5 83.9777C1.5 159.985 69.5106 183.452 154.064 183.452C236.902 178.856 294.681 53.8638 209.367 83.9777C133.285 120.676 166.19 205.338 236.902 213.799C305.875 222.053 312.574 157.661 328.889 106.821C345.82 54.0581 370.867 13.7526 428.473 2.03607C473.965 -7.21664 534.556 71.326 609 20.7776"); */
    offset: path('M87.8882 49.3063C90.1871 49.0509 92.1362 46.6008 94.1849 46.437C96.3295 46.2654 98.8812 44.4198 100.96 43.727C106.813 41.7759 112.795 39.9809 119.132 39.9809C122.36 39.9809 125.588 39.9809 128.816 39.9809C134.771 39.9809 137.738 36.676 142.765 33.8835C145.747 32.2269 150.135 30.5871 153.485 29.978C155.465 29.618 157.32 28.8303 159.224 28.1448C160.935 27.5289 163.254 25.0359 164.803 24.9168C168.015 24.6697 167.065 26.4972 165.202 29.2208C163.302 31.9972 162.337 34.6521 159.941 37.1115C156.97 40.1606 154.548 43.5695 152.289 47.1543C149.296 51.9043 146.024 56.4839 143.203 61.3417C139.71 67.357 135.129 72.959 131.965 79.1158C130.338 82.2808 129.242 87.3955 130.61 90.912C131.725 93.7791 135.249 95.9501 137.385 98.0854C140.778 101.479 143.65 107.499 144.877 112.074C146.905 119.634 150.232 126.749 152.449 134.231C153.239 136.899 156.148 144.284 151.971 145.43C144.391 147.508 134.838 143.676 127.74 147.024C124.973 148.329 122.194 150.57 119.451 147.98C115.828 144.558 113.363 139.745 110.126 135.945C105.23 130.198 101.064 119.711 92.0328 123.83C83.7339 127.615 75.7602 132.866 68.0418 137.699C62.8697 140.937 56.6579 143.942 52.3799 148.379C49.0222 151.861 46.4758 156.253 42.6958 159.298C40.5958 160.99 38.3918 163.843 38.3918 160.374C38.3918 153.17 44.0935 146.098 46.2426 139.293C48.8418 131.062 50.7974 122.35 51.2242 113.707C51.6544 104.995 51.864 101.904 44.808 95.9334C37.8223 90.0224 32.4065 82.6433 25.5195 76.6449C18.4625 70.4985 12.4119 63.6711 6.43029 56.4797C3.24781 52.6536 -0.821143 49.4957 6.27088 50.3425C12.2957 51.0618 18.2963 51.765 24.2841 52.7336C32.3817 54.0435 39.4635 59.1522 46.9998 62.059C48.5677 62.6638 51.8908 64.5084 53.6153 64.3705C56.8682 64.1102 54.5214 44.5039 54.2529 42.372C52.5291 28.683 47.9202 15.4979 45.9637 1.80247C45.8719 1.15975 51.9437 6.81462 53.2965 7.97957C56.2208 10.4977 59.1685 13.7788 61.3068 16.9862C64.7958 22.2196 69.3561 26.5287 73.2226 31.4127C76.4292 35.4631 80.2305 40.6877 84.3015 43.8864C86.1679 45.3528 87.0189 47.1036 89.3229 47.8716');
    animation: move 10s ease-in-out 2s infinite;
    
    /* offset: path('M69.5 0L85.7773 41.1135H138.452L95.8372 66.523L112.114 107.637L69.5 82.227L26.8856 107.637L43.1628 66.523L0.548401 41.1135H53.2227L69.5 0Z'); */

    /* offset: path("M69.5 0L138.349 48H0.650978L69.5 0Z");     */
 
    
}

@keyframes move {
    0%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
}



/* offset-anchor */
/* The offset-anchor CSS property specifies the point inside the box of an element traveling along an offset-path that is actually moving along the path.

Syntax:
        offset-anchor: auto | top | left | right | bottom | center | 20px 30px | 0 0 | top lrft | bottom 20px right 30px; */

/* In the following example, we have three <div> elements nested in <section> elements. Each <div> is given the same offset-path (a horizontal line 200 pixels long) and animated to move along it. The three are then given different background-color and offset-anchor values. */


section{
    border: 1px solid black;
    margin: 20px;
    width: 40%;

    background: linear-gradient(to bottom, transparent , transparent 49%, #000 50% , #000 51%, transparent 52%);
}

section div{
    width: 50px;
    height: 50px;
    animation: anchor 3s ease-in-out 2s infinite;
    offset: path('M 25 25 L 515 25');
}

@keyframes anchor {
    0%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
}

.offset-anchor1{
    background-color: rgb(52, 201, 39);
    offset-anchor: bottom;
}

.offset-anchor2{
    background-color: rgb(206, 125, 32);
    /* offset-anchor: right 30px; */
    offset-anchor: 50px 60px;
}

.offset-anchor3{
    background-color: rgb(85, 27, 194);
    /* offset-anchor: top left; */
    offset-anchor: left 40px;
}


/* offset-distance */
/* The offset-distance CSS property specifies a position along an offset-path for an element to be placed.

Syntax: 
        offset-distance: length; */

/* The motion aspect in CSS Motion Path typically comes from animating the offset-distance property. If you want to animate an element along its full path, you would define its offset-path and then set up an animation that takes the offset-distance from 0% to 100%. */

.offset-distance{
    width: 40px;
    height: 40px;
    background-color: hotpink;

    offset: path('M20,20 C20,100 200,0 200,100');
    animation: move1 3s ease-in-out infinite;
}

@keyframes move1 {
    0%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
}


/* offset-path */
/* The offset-path CSS property specifies a path for an element to follow and determines the element's positioning within the path's parent container or the SVG coordinate system. The path is a line, a curve, or a geometrical shape along which the element gets positioned or moves.

The offset-path property is used in combination with the offset-distance, offset-rotate, and offset-anchor properties to control the position and orientation of the element along a path. */

/* Syntax: */
        /* offset-path: auto | 10px 20px  | none;
        offset: ray(45deg, closestr-side) | path('M 100 100 L 300 100 L 200 300 z') | url('arc.svg'); */

        /* Offset path with distance and/or rotation */
        /* offseft-path: url(circle.svg) 100px | url(circle.svg) 30% | url(circle.svg) 45deg | url(circle.svg) 50px 90deg; */

        /* Including offset anchor */
        /* offset-path: ray(45deg closest-side) / 40px 20px |  url(arc.svg) 2cm / 0.5cm 3cm; | : url(arc.svg) 30deg / 50px 100px; 
        
        offset-path: content-box | paddong-box | border-box | fill-box | view-box | stroke-box
        */

/* Creating an offset-path using box-edge positioning */
.box{
    width: 450px;
    height: 250px;
    border: 30px dashed yellow;
    margin: 50px auto;
    padding: 30px;
}

.box div{
    width: 70px;
    height: 20px;
    margin: 20px;
    animation: allmove 3s ease-in infinite;
}

.box .firstbox{
    background-color: aquamarine;
    offset-path: content-box;
    offset-distance: 16%;
}
.box .secondbox{
    background-color: blueviolet;
    offset-path: padding-box;
    offset-distance: 13%;
}
.box .thirdbox{
    background-color: burlywood;
    offset-path: border-box;
    offset-distance: 10%;
}
@keyframes allmove {
    to{
        offset-distance: 100%;
    }
}

/* Creating an offset-path using path() */
/* In this example, the <svg> element creates a house with a chimney and also defines two halves of a scissor. */

.scissorHalf {
    /* offset-path: path(
      "M900,190  L993,245 V201  A11,11 0 0,1 1004,190  H1075  A11,11 0 0,1 1086,201  V300  L1294,423 H1216  A11,11 0 0,0 1205,434  V789  A11,11 0 0,1 1194,800  H606  A11,11 0 0,1 595,789  V434  A11,11 0 0,0 584,423  H506 L900,190"
    ); */

    /* Creating an offset-path using url() */
    offset-path: url('#house');
    animation: followpath 4s linear infinite;
  }
  
  @keyframes followpath {
    to {
      offset-distance: 100%;
    }
  }
  

/* offset-rotate */
/* The offset-rotate CSS property defines the orientation/direction of the element as it is positioned along the offset-path.

Syntax: 
        offset-rotate: |auto 90deg | auto 90deg | 2.3turn | reverse; */

.scissorHalf{
    offset-rotate: 177deg;
}


/* offset-position */
/* The offset-position CSS property defines the initial position of an element along a path. This property is typically used in combination with the offset-path property to create a motion effect. The value of offset-position determines where the element gets placed initially for moving along an offset-path if the offset-path function does not specify its own starting position.

The offset-position property is part of a motion system based on offset constituent properties, including offset-anchor, offset-distance, and offset-path. These properties work together to create various motion effects along a path.

Syntax: 
        offset-anchor: auto | top | left | right | bottom | center | 20px 30px | 0 0 | top lrft | bottom 20px right 30px;  */
        