<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/14/14.css">
</head>
<body>
    <form>
        <div>
          <label for="name">Name</label>
          <input type="text" name="name">
        </div>
        <div>
          <label for="order-no">Order No</label>
          <input type="text" name="order-no">
        </div>
        <div>
          <label for="size">Size</label>
          <input type="text" name="size">
        </div>
        <div>
          <label for="spools">Spools</label>
          <input type="text" name="spools">
        </div>
        <div>
          <label for="prints">Prints</label>
          <input type="text" name="prints">
        </div>
        <div>
          <label for="enlgts">Enlgts</label>
          <input type="text" name="enlgts">
        </div>
        <div>
          <label for="price">Price</label>
          <input type="text" name="price">
        </div>
      </form>
      <div id="top-middle"></div>
      <h1 id="main-kodak">Kodak</h1>
      <img id="ko" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/108463/KOnew.png">
      <img id="odak" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/108463/odaknew.png">
      <h2 id="film">Film</h2>
      <h2 id="wallet">Wallet</h2>
      <h1 id="sm-title">Kodak Film Wallet</h1>
      <img id="blue-box" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/108463/rectangle.png">
      <div id="bottom-left">
        <h2>Use<br><span>Kodak</span><br>Film</h2>
        <h3>-To be Sure</h3>
      </div>
      <div id="bottom-middle"></div>
      <img id="girl" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/108463/girlbox.png">
      <div id="bottom-right"></div>
      
      
      <!-- Note to self: Fix id and class names-->
</body>
</html>